<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css//default.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        
        <div id="content">
            <header>
                <div class="logo">Libro</div>
                <nav>
                    <ul>
                        <a href="http://localhost:8000/" >Volver</a>
                    </ul>
                </nav>
            </header>
            <table id="tabla">
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>edition</th>
                    <th>copyright</th>
                    <th>laguages</th>
                    <th>pages</th>
                    <th>author</th>
                    <th>publisher</th>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Database system Concepts</td>
                    <td>6th</td>
                    <td>2010</td>
                    <td>English</td>
                    <td>1376</td>
                    <td>Abraham Silberschatz</td>
                    <td>John Wiley & Sons</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>