<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/default.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="wrapper">
        <header>Practica 1</header>
        <div id="content">
            <ul>
                <li><a href="http://localhost:8000/book/1">Operating System</a></li>
                <li><a href="http://localhost:8000/book/2">Database System</a></li>
                <li><a href="http://localhost:8000/book/3">Computer Networks</a></li>
                <li><a href="http://localhost:8000/book/4">Modern Operating System</a></li>
            </ul>
        </div>
    </div>
</body>
</html>